In [ ]:
!help

In [3]:
man find

In [4]:
!find / -name '*.ipynb'

In [6]:
# comentario de prueba

In [5]:
###
#lectura de variable por teclado
#y conversion a tipo numerico para operar
###
num = input("Dame un numero ")
print("Tu numero es ",num)
print("Tu numero multiplicado por 5 es ",num*5)
###
#Lo convertimos a entero
###
num = int(num)
print("Tu numero multiplicado por 5 es ",num*5)

Dame un numero 7
Tu numero es  7
Tu numero multiplicado por 5 es  77777
Tu numero multiplicado por 5 es  35

In [7]:
type(num)

int

In [ ]:
num = 10//3
type (num)

In [ ]:
print(num)

In [13]:
num = 10/3
print(num)
type(num)

3.3333333333333335

float

In [ ]:
num = 10%3
print(num)

In [14]:
nombre = "Aarón"
print(nombre)
type(nombre)

Aarón

str

In [ ]:
num =int(input("Dame un numero: "))
mayor = (10>num)
print(mayor)
type(mayor)

In [ ]:
if (num == 5):
    print("Tu numero es 5")
else:
    print("Tu numero es diferente de 5")

In [ ]:
num = int(input("Dame un numero: "))
if (num >=10 and num<=15):
  print("Numero esta entre 10 y 15")
elif (num >15):
  print("Tu numero es mayor que 15")
else:
  print("Tu numero es menor que 10")

In [22]:
lista = range(6)
for i in lista:
  print(i)

0
1
2
3
4
5

In [24]:
lista = range (3,6)
print(list(lista))
print("La lista tiene",len(lista),"elementos")

[3, 4, 5]
La lista tiene 3 elementos

In [25]:
lista = range(3,20,2)
list(lista)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
nombre="Aarón"
n_mayus=nombre.upper()
print(n_mayus)
len(nombre)

AARÓN

5

In [28]:
nombres = ["Maria","Pedro","Juan","Carmen"]
print(nombres[2])
print(type(nombres))
del nombres[2]
print(nombres)
nombres.insert(3,"Jose")
print(nombres)
print("Para ver la posición donde se encuentra un valor usamos index, Carmen se encuentra en la posición:",nombres.index("Carmen"))
print(nombres)
print("Para ver los elementos de la posición 1 a la 2, pongo un 3 al final",nombres[1:3])
nombres.append("Susana")
print(nombres)
print("Para ver los elementos de 2 en 2:",nombres[::2])
print("Para ver los elementos en orden invertido uso -1:",nombres[::-1])
for i in nombres:
  print(i)

Juan
<class 'list'>
['Maria', 'Pedro', 'Carmen']
['Maria', 'Pedro', 'Carmen', 'Jose']
Para ver la posición donde se encuentra un valor usamos index, Carmen se encuentra en la posición: 2
['Maria', 'Pedro', 'Carmen', 'Jose']
Para ver los elementos de la posición 1 a la 2, pongo un 3 al final ['Pedro', 'Carmen']
['Maria', 'Pedro', 'Carmen', 'Jose', 'Susana']
Para ver los elementos de 2 en 2: ['Maria', 'Carmen', 'Susana']
Para ver los elementos en orden invertido uso -1: ['Susana', 'Jose', 'Carmen', 'Pedro', 'Maria']
Maria
Pedro
Carmen
Jose
Susana